body {
    background: #34E4EA;
}

.box {
    position: relative;
    margin: auto;
    display: block;
    /* border for seeing visual changes */
    border: solid 4px red; /*comment out later*/
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
}